.body-main-form{
    width: 2rem;
    max-width: 40;
    margin:auto;
}
.form-control label,
.form-control input{
    display: block;
    width:10%;
}
.form-control input {
    border: 1px solid #dbc441;
    font:inherit;
    border: radius 2px;
 }
 .form-control label,
.form-control input{
    display: block;
    width:10%;
}
.form-control input {
    border: 1px solid #dbc441;
    font:inherit;
    border: radius 2px;
    margin-left:  15px;
 }